
.ipynb_checkpoints/n armed bandit-checkpoint.ipynb

.ipynb_checkpoints/2. Dynamic Programming-Copy1-checkpoint.ipynb

.ipynb_checkpoints/1. n-armed bandit-checkpoint.ipynb

.ipynb_checkpoints/2. Dynamic Programming-checkpoint.ipynb

.ipynb_checkpoints/2. Dynamic Programming - Policy Iteration-checkpoint.ipynb

.ipynb_checkpoints/2.2. Dynamic Programming - Value iteration-checkpoint.ipynb

.ipynb_checkpoints/2.1. Dynamic Programming - Policy Iteration-checkpoint.ipynb

.ipynb_checkpoints/2.3. Dynamic Programming - Gamblers Problem-checkpoint.ipynb

.ipynb_checkpoints/2.2. Dynamic Programming - Value iteration-checkpoint.ipynb

.ipynb_checkpoints/2.2. Dynamic Programming - Value iteration-checkpoint.ipynb

.ipynb_checkpoints/2.1 Dynamic Programming - Policy Iteration-checkpoint.ipynb

.ipynb_checkpoints/2.2. Dynamic Programming - Value iteration-checkpoint.ipynb

.ipynb_checkpoints/3. Monte Carlo-checkpoint.ipynb

.ipynb_checkpoints/2.2. Dynamic Programming - Value iteration-checkpoint.ipynb
