
.ipynb_checkpoints/n armed bandit-checkpoint.ipynb

.ipynb_checkpoints/2. Dynamic Programming-Copy1-checkpoint.ipynb

.ipynb_checkpoints/1. n-armed bandit-checkpoint.ipynb

.ipynb_checkpoints/2. Dynamic Programming-checkpoint.ipynb
